
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordering Pizza</title>
    <style>
        body {
            background-color: #4b2c50;
            text-align: center;
            padding: 50px;
            font-family: Arial, sans-serif;
            color: #95a5a7;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 20px;
            color: #95a5a7;
        }

        p {
            font-size: 1em;
            margin-bottom: 20px;
            color: #95a5a7;
        }

        .button-frame {
            display: inline-block;
            border: 2px solid #95a5a7;
            background-color: #95a5a7;
            padding: 10px;
            border-radius: 5px;
            margin-top: 20px;
        }

        a {
            font-size: 1em;
            color: #4b2c50;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
        }

    </style>
</head>
<body>
    <h1>Do you want some pizza?:)</h1>
    <div class="button-frame">
        <a href="/PizzaOrder/Register"> Make an Order </a>
    </div>
</body>
</html>
